<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Create a New Account</h2>
        
        <form action="{{ url_for('index') }}" method="POST" enctype="multipart/form-data">
            <label for="fullname">Full Name:</label>
            <input type="text" name="fullname" id="fullname" placeholder="Enter your full name" required>
            
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" placeholder="Enter your email" required>
            
            <label for="password1">Password:</label>
            <input type="password" name="password1" id="password1" placeholder="Enter your password" required>
            
            <label for="password2">Confirm Password:</label>
            <input type="password" name="password2" id="password2" placeholder="Confirm your password" required>
            
            <label for="avatar">Profile Picture :</label>
            <input type="file" name="avatar" id="avatar" accept="image/*">

            <button type="submit">Register</button>
        </form>
        <br>
        <p>Already have an account? <a href="{{ url_for('login') }}">Login here</a>.</p>
    </div>
</body>
</html>
